.footer {    
    height: 160px;
    &_wrapper {
        display: flex;
        justify-content: space-between;        
        align-items: center;
        padding-top: 32px;
    & > div {
            width: 33%;
        }
    }
    &_box_ic {
        display: flex;
        & i  {
            display: flex;
            justify-content: center;
            align-items: center;
            color: antiquewhite;
            padding: 8px 11px 7px 11px;
        }
        
    }
    &_icon {
 
        width: 32px;
        height: 32px;
        background-color: #070716;
        border-radius: 100%;
 
        margin-left: 10px;

    }
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &_header {
        display: flex;
        margin: 32px 0px 16px 0px; 
           
    }
    &_palka {
        margin: 14px auto 0px;       
        width: 299px;
        height: 4px;
        background-color: #1fbad6;
    }
    &_hd_tx {
        &:nth-child(1) {
            margin-left: 15px;
        }
        &:nth-child(3) {
           margin-right: 5px;
        }
    }
    &_hd_link {
        margin-right: 45px;
        color: #070716;
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
       
    }
    &_supheader {
        display: flex;
    
    }
    &_sup_link {
        color: #999999;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 300;
        margin-right: 21px;
        text-transform: uppercase;
        text-decoration: none;

    }    
    &_fttext {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #35c1da ;
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 400;
        margin: 20px 0 40px;
    }
    &_img {
        display: flex;
        justify-content: flex-end;
    }
    & img  {
        margin-right: 10px  ;
    }
}

