.mobile {
    padding: 20px 0 80px 0;
    background: url(../img/bg/Rectangle_20.png) center (center/cover) no-repeat ;
    &_header {
        @include header_text;
    }
    &_supheader {
        @include supheader_text;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }
    &_item {
        position: relative;
        width: 30%;
        margin-bottom: 20px;
    
    &:hover img{
        opacity: .2;
    }
    &:hover .mobile_text {
        opacity: 1;
    }
    }
    &_img {
        width: 280px;
        height: 280px;
        background: linear-gradient(#212121);

    }
    &_img img {
        width: 280px;
        height: 280px;
        transition: opacity .3 linear;
    }
    &_text {
        width: 280px;
        height: 280px;

        color: whitesmoke;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        opacity: 0;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -5%, 0);
        transition: opacity .2s linear;    
    }
    &_plus {
        display:flex ;
        position: absolute;
        justify-content: center;
        align-items: center;
        bottom: 35px;
        left: 45%;
        transform: translateX(-50%);
        border-radius: 100%;
        margin: 0 auto;
        width: 26px;
        height: 26px;
        background-color: #000000;
        cursor: pointer;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 14px;
            height: 2px;
            background-color: #1eacc7;
            transition: 0.3s linear;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 14px;
            background-color: #1eacc7;
            transition: 0.3s linear;
        }
        &:hover 
            &:before &:after {
            background-color: red;
            transition: 0.3s linear;

        }
        
    }
}