.terms {
    padding: 70px 0 85px;
    
    &_btn {
        @include btn ;
        margin: 0 auto;
    }
    &_header {
        @include header_text;
        margin: 40px auto 33px;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &_colon {
        width: 478px;
        height: 364px;
        margin: 33px 10px 33px;

    }
    &_title {
        color: #1ca8c3;
        margin-bottom: 25px;
        font-family: "Roboto - Regular";
        font-size: 22px;
        font-weight: 400;
        line-height: normal;

    }
    &_ul  {
        color: #222222;
        list-style-type: none;
        padding-left: 50px;

            li {
                
                margin-bottom: 10px;
                font-family: "Roboto - Light";
                font-weight: 300;
                line-height: 24px;
                font-size: 17px;
                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    transform: translate( -33px , -2px);
                    width: 21px;
                    height: 20px;
                    background: url(../img/icon/terms/icon.png) center center/cover no-repeat;
                
                }
            }
    
    }
    &_footer {
        color: #1ca8c3;
        font-family: "Roboto - Light";
        font-size: 17px;
        font-weight: 300;
    }
    &_title_red {
        @include red_style;
    }
    &_ul_red .terms_rd {
        @include li_red;
    }

}