@import '../mixin/mixin';

.work {
    &_header {
        @include header_text;
    }
    & .row {
        margin: 0 auto;
    }
    &_col {
        display: flex;
    }
    &_icon {
        margin: 10px 20px 63px 0px ;
        width: 113px;
        height: 113px;
        padding: 31px 31px 16px 28px;
        border-radius: 100%;
        background-color: #1eacc7;
   
    }
    &_descr {
        margin-bottom: 35px ;
        color: #202020 ;
        font-size: 15px ;
        font-weight: 300 ;
        line-height: 18px ;
    
    }
    &_span {
        color: #1eacc7 ;
        font-family: "Roboto - Regular" ;
        font-size: 17px ;
        font-weight: 400;
    }
}