 @font-face {
    font-family: Roboto;
    src: url(/src/fonts/Roboto-Black.woff);
    src: url(/src/fonts/Roboto-Black.woff2);
    font-weight: 900;
    font-size: normal;
}
@font-face {
    font-family: Roboto;
    src: url(/src/fonts/Roboto-Bold.woff);
    src: url(/src/fonts/Roboto-Bold.woff2);
    font-weight: 600;   
    font-size: normal;
}
@font-face {
    font-family: Roboto;
    src: url(/src/fonts/Roboto-Light.woff);
    src: url(/src/fonts/Roboto-Light.woff2);
    font-weight: 300;
    font-size: normal;
}